# 🔒 Bitácora - SOLO publicar bitacora_v1.0/PUBLIC/
# Todo lo demás permanece PRIVADO

# Ignorar TODO desde la raíz
/*

# EXCEPTO:
!.gitignore
!bitacora_v1.0/

# Dentro de bitacora_v1.0/, ignorar TODO
bitacora_v1.0/*

# EXCEPTO PUBLIC/
!bitacora_v1.0/PUBLIC/
